td,th{
    border:1px solid green;
    padding: 10px;
}
thead{
    background-color: yellow;
}
tfoot{
    background-color: gray;

}
table{
    width:50%;
    height:50%;
    border-collapse: collapse;
}